{{ define "header"}}
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="all,follow">

<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/vendor/artDialog/skins/default.css">

<link rel="stylesheet" href="/css/fontastic.css">
<link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
<link rel="stylesheet" href="/css/custom.css">
<link rel="shortcut icon" href="/img/favicon.ico">
<link href="/nz-window/NZ-Window.css" rel="stylesheet" />

{{ end }}